@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Space Grotesk ;
    font-size: 18px;
}

@font-face {
    font-family: Space Grotesk;
    src: url('fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

#container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
 
}

main{
    max-width:762px;
    width: 100%;
}

header{
    width: 100%;
}

header p {
    position: absolute;
    top: 42%;
    right: 12%;
    color: white;
    z-index: 1;
    font-size: 4vw;
}


.imgHeader {
    position: relative;
}

.imgHeader .imgMobile{
    width: 100%;
    object-fit: cover;
}

.cardBack img{
    width: 100%;
}

.cardBack{
    position: absolute;
    top: 25px;
    right: 10px;
    width: 80%;
   
}

.cardFront img{
    width: 100%;
}
.cardFront {
    position: absolute;
    top: calc(40% + 20px); /* Ajuste o valor '10px' conforme necessário */
    left: 5%;
    width: 80%;
}

.circle{
    position: absolute;
    width: 10%;
    height: 17%;
    border-radius: 100%;
    top: 10%;
    left: 5%;
    background-color: white;
}

.circleSmall{
    position: absolute;
    width: 5%;
    height: 9%;
    border-radius: 100%;
    top: 15%;
    left: 19%;
    border: 1.5px solid white;
}
.zeros{
    position: absolute;
    top: 55%;
    left:5%;
    width: 100%;
    
}

.zeros span{
    font-size: 4.4vw;
    margin: 0.3em;
    color: white;
}

.dados {
    position: absolute;
    bottom: 5%;
    left: 7%;
    transform: translateY(65%);
    font-size: 3.5vw;   
}

.zeros2{
    position: absolute;
    bottom: 5%;
    right: 20px;
    transform: translateY(65%);
    font-size: 2.5vw;  
}


form{
  padding: 4%;
  width:100%;
  font-weight: bold; 
}


.nameCard {
    display: flex;
    flex-flow: column;
    margin: 10px;
    color: var(--very-dark-violet);
    
}

#name, #card{
    display: flex;
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
    outline: 0;
}

.inputName {
    padding-top: 15%;
}

#name, #card {
    margin-bottom: 10px;
}

.inputDate{
    display: flex;
    margin: 10px;
    color: var(--very-dark-violet);
}

.expDate{
    display: flex;
    flex-flow: column;
}

.expDate span {
    margin-left: 5px;
}

#mm, #yy {
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
    padding: 15px;
    margin: 5px;
    text-align: center;
    outline: 0;
}

#cvc{
    width: 95%;
    text-align: left;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
    padding: 8px;
    margin: 5px;
    flex-grow: 1;
    
}

input::placeholder{
    color: var(--light-grayish-violet);
    font-weight: bold;
}

.botao button {
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: var(--very-dark-violet);
    color: white;
}

footer{
    display: none;
}

.imgDesktop{
    display: none;
}

/* @media screen and (min-width: 762px) and (max-width:992px) {

    #container{
        min-height: 100vh;
    }

    header{
        width: 55%;
    }

    header p {
        top: 44%;
        font-size: 1vw;
    }

    main{
        max-width: none;
        width: 100%;
        height: 100vh;
        display: flex;
        position: relative;
    }

    .imgMobile{
        display: none;
    }

    .imgDesktop{
        display: block;
        width: 100%;
        height: 100vh;
    }

    .cardBack{
        top: 35vh;
        left: 55%;
        transform: translateY(55%);
        width: 80%; 
    }

    .cardFront {
        top: 20vh;
        left: 40%;
        width: 80%;
    }

    .zeros{
        left:5%;
    }
    
    .zeros span{
        font-size: 1.5vw;
        margin: 0.2em;

    }

    .dados {
        font-size: 1.3vw;   
    }
    
    .zeros2{
        bottom: 3%;
        font-size: 1vw;  
    }

    form{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-end;
    }

    .nameCard{
        width: 70%;
    }

    #mm, #yy, #cvc {
        padding: 5px;
    
    }

    .inputName {
        padding-top: 0%;
    }

    .inputDate{
        display: flex;
        width: 70%;
    }

     .expDate {
        display: flex;
        flex-grow: 1;
    }

    #name, #card{
        font-size: 1.5vw;
    }


    input::placeholder{
        font-size: 1.7vw;
    }

    .botao{
        width: 70%;
        margin-right: 5px;
    }

    .botao button{
        padding: 13px;
    }

    button:hover{
        background-color: rgb(48, 6, 87);
    }
    
} */


@media screen and (min-width: 762px) {

    #container{
        min-height: 100vh;
    }

    header{
        width: 45%;
    }

    header p {
        top: 44%;
        font-size: 1vw;
    }

    main{
        max-width: 1440px;
        height: 100vh;
        display: flex;
        position: relative;
    }

    .imgMobile{
        display: none;
    }

    .imgDesktop{
        display: block;
        width: 100%;
        height: 100vh;
    }

    .cardBack{
        top: 32vh;
        left: 50%;
        transform: translateY(55%);
        width: 90%; 
    }

    .cardFront {
        top: 15vh;
        left: 35%;
        width: 90%;
    }
    
    .inputName, .inputCard, .expDate span{
        padding-top: 0%;
        font-size: 1vw;
    }

    
    .inputDate{
        display: flex;
        width: 40%;
    }
    
    
    .zeros span{
        font-size: 1.4vw;
        margin: 0.2em;
    }

    .dados {
        font-size: 1.3vw;   
    }
    
    .zeros2{
        bottom: 3%;
        font-size: 1vw;  
    }

    form{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

    }

    .nameCard{
        width: 40%;
    }

    #mm, #yy, #cvc {
        padding: 5px;
        width: 80%;
    
    }


     .expDate {
        display: flex;
        flex-grow: 1;
    }

    #name, #card{
        padding: 5px;
    }



    input::placeholder{
        font-size: 1.2vw;
    }

    .botao{
        width: 40%;
    }

    .botao button{
        padding: 10px;
    }

    button:hover{
        background-color: rgb(48, 6, 87);
    }

    footer{
        display: block;
        position: absolute;
        bottom: 0;
        left: 60%;
        transform: translate(-35%);
        font-size: 1.3vw;
        
    }

    footer a {
        text-decoration: none;
        font-size: 1.3vw;
    }

    footer a:hover{
        text-decoration: underline;
    }
}
    
    
  